@model TallinnaRakenduslikKolledz.Models.Student

@{
	ViewData["Title"] = "Editi andmeid";
}

<h1>Õpilase info:</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>


			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control"></input>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control"></input>
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>


			<div class="form-group">
				<label asp-for="EnrollmentDate" class="control-label"></label>
				<input asp-for="EnrollmentDate" class="form-control"></input>
				<span asp-validation-for="EnrollmentDate" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="HomeAddress" class="control-label"></label>
				<input asp-for="HomeAddress" class="form-control"></input>
				<span asp-validation-for="HomeAddress" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Iq" class="control-label"></label>
				<input asp-for="Iq" class="form-control"></input>
				<span asp-validation-for="Iq" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="Submit" value="Salvesta muudatused" class="btn btn-primary" />
			</div>

			<div class="form-group">
				<a asp-action="Index">Tühista</a>
			</div>

		</form>
	</div>
</div>

